<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Node</key>
	<dict>
		<key>Title</key>
		<string>トップメニュー</string>
		<key>Table</key>
		<array>
			<dict>
				<key>SectionTitle</key>
				<string>サブカテゴリ</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>CellIdentifier</key>
						<string>Basic</string>
						<key>Text</key>
						<string>サンプル</string>
						<key>DetailText</key>
						<string></string>
						<key>SegueIdentifier</key>
						<string>menuSegue</string>
						<key>Node</key>
						<dict>
							<key>Title</key>
							<string>サンプル</string>
							<key>Table</key>
							<array>
								<dict>
									<key>SectionTitle</key>
									<string>プロフィール</string>
									<key>Rows</key>
									<array>
										<dict>
											<key>CellIdentifier</key>
											<string>Subtitle</string>
											<key>Text</key>
											<string>こんな人</string>
											<key>DetailText</key>
											<string>textSegueで遷移</string>
											<key>SegueIdentifier</key>
											<string>textSegue</string>
											<key>Node</key>
											<dict>
												<key>Title</key>
												<string>こんな人</string>
											</dict>
										</dict>
										<dict>
											<key>CellIdentifier</key>
											<string>Subtitle</string>
											<key>Text</key>
											<string>プロフィール画像</string>
											<key>DetailText</key>
											<string>imageSegueで遷移</string>
											<key>SegueIdentifier</key>
											<string>imageSegue</string>
											<key>Node</key>
											<dict>
												<key>Title</key>
												<string>プロフィール画像</string>
											</dict>
										</dict>
									</array>
								</dict>
								<dict>
									<key>SectionTitle</key>
									<string>参考</string>
									<key>Rows</key>
									<array>
										<dict>
											<key>CellIdentifier</key>
											<string>Basic</string>
											<key>Text</key>
											<string>リンク集</string>
											<key>DetailText</key>
											<string></string>
											<key>SegueIdentifier</key>
											<string>menuSegue</string>
											<key>Node</key>
											<dict>
												<key>Title</key>
												<string>リンク集</string>
												<key>Table</key>
												<array>
													<dict>
														<key>SectionTitle</key>
														<string></string>
														<key>Rows</key>
														<array>
															<dict>
																<key>CellIdentifier</key>
																<string>RightDetail</string>
																<key>Text</key>
																<string>Blog</string>
																<key>DetailText</key>
																<string>webSegueで遷移</string>
																<key>SegueIdentifier</key>
																<string>webSegue</string>
																<key>Node</key>
																<dict>
																	<key>Title</key>
																	<string>h_mori&apos;s Blog</string>
																	<key>Url</key>
																	<string>http://d.hatena.ne.jp/h_mori/</string>
																</dict>
															</dict>
															<dict>
																<key>CellIdentifier</key>
																<string>RightDetail</string>
																<key>Text</key>
																<string>Apple</string>
																<key>DetailText</key>
																<string>webSegueで遷移</string>
																<key>SegueIdentifier</key>
																<string>webSegue</string>
																<key>Node</key>
																<dict>
																	<key>Title</key>
																	<string>Apple</string>
																	<key>Url</key>
																	<string>http://www.apple.com/</string>
																</dict>
															</dict>
														</array>
													</dict>
												</array>
											</dict>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionTitle</key>
				<string>このアプリについて</string>
				<key>SectionFooter</key>
				<string>高さの調節もできます (88px)</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>CellIdentifier</key>
						<string>Subtitle</string>
						<key>Text</key>
						<string>FlexibleMenuSample</string>
						<key>DetailText</key>
						<string>サーバ上からカスタム可能なメニュー</string>
						<key>Height</key>
						<integer>88</integer>
						<key>SegueIdentifier</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
